* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

footer {
    margin-top: 50px;
}

.navbar {
    background-color: rgb(197, 197, 197);
    border-bottom: 1px solid rgba(164, 164, 164, 0.504);
}

.nav-link {
    font-size: 20px;
}

.nav-link {
    background-color: #52b7ff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.nav-link:hover {
    background-color: #88c9ff;
    transition: 0.5s;
}

.alert {
    text-align: center;
}

.alert h3 a {
    text-decoration: none;
}

.imagen-inicio {
    text-align: center;
    margin: 40px;
}

.active {
    background-color: #4f98ff;
    padding: 10px;
    border-radius: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    background-color: rgb(204, 204, 204);
    box-shadow: 0 0 15px gray;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.stat p {
    font-size: 30px;
}

/* PRODUCTOS */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    text-align: center;
    margin-bottom: 20px;
}

.product img {
    width: 200px;
    height: 230px;
    object-fit: cover;
    margin-top: 20px;
}

.cart-items {
    list-style-type: none;
}

.list-group li {
    margin-top: 5px;
    text-align: center;
}

.view-cart {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.cart-badge {
    margin-left: 10px;
    font-size: 12px;
}

#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1055;
  }

/* SISTEMA PAGO */
#payment-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#payment-form label {
    display: block;
    margin-bottom: 10px;
}

#payment-form input,
#payment-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

#payment-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#payment-form button:hover {
    background-color: #0056b3;
}

/* CONTACTO */
.card {
    margin: auto;
    margin-top: 20%;
    font-size: 15px;
    border: 2px solid #d5d6d6;
    padding: 5px;
}

/* RESPONSIVE */
@media only screen and (max-width: 770px) {
    .container2 {
        display: flex;
        justify-content: center;
        margin-top: 50%;
    }

    .card {
        width: 50%;
        padding: 15px;
    }

    .card img {
        margin: auto;
    }
}
